body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 97%;
  height: 550px;
  border: 3px solid #424242;
  margin-top: 20px;
}

.brandstatement {
  text-align: center;
  padding: 20px;
}

.hobbies {
  margin-bottom: 70px;
}

.about {
  margin-top: -45px;
  border: 3px solid #424242;
  position: relative;
}

.bioheader {
  position: absolute;
  top: -40px;
  left: 20px;
  padding: 8px;
  margin-top: 5px;
}
.bio {
  line-height: 35px;
  margin-top: 30px;
  padding: 8%;
}

main {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  border: 1px solid #424242;
  box-shadow: 0px 0px black;
  padding: 40px 0px;
  max-width: 100%;
  width: 100%;
  background: #424242;
}

.projectheader {
  text-align: center;
}

.projectlink {
  list-style-type: none;
  padding: 20px;
}

.projecttitle {
  background: #424242;
  position: relative;
}

.projecttitle:hover {
  color: #424242;
  background: #fafafa;
  transition: .35s;
}

.link {
  text-align: center;
  margin: 10px 0px;
}

i {
  position: absolute;
  left: 91%;
}

.skillsection {
  background: #fafafa;
}

.skillcontent {
  width: 90%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.skills {
  padding: 0px 3rem;
}

.contactme {
  width: 97%;
  background: #424242;
  color: #fafafa;
}

.footer {
  display: flex;
  width: 97%;
  align-items: center;
  justify-content: space-around;
  border-left: 3px solid #424242;
  border-right: 3px solid#424242;
  border-bottom: 3px solid #424242;
  margin-bottom: 20px;
}

.socialmedia {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  min-width: 50%;
}

.icon {
  height: 100px;
  width: 100px;
}

.icon:hover {
  padding-bottom: 10px;
  transition: .35s;
}