/* Color Pallete
  light almost white - DEE8E4
  purple - 413C58
  dark blue - 191D32
  light purple - 9590A8
  pastelle pink - AD728A
  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 80%;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  margin: 20px 0px;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

nav ul a {
    font-size: 24px;
}

nav ul {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 30px 0px
}

a {
  color: rgb(66, 71, 71);
  text-decoration: none;
}

a:hover {
  color: white;
}

.portfolio-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0px;
}

.portfolio-bottom {
  width: 100%;
  display: flex; 
  flex-direction: row-reverse;
  justify-content: space-between;
}

.projgridtop, .projgridbottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}
.profilepic {
  height: 250px;
  width: 200px;
}

.proj1 {
  background: #413C58;
}

.proj2 {
  background: #0D1B2A;
}

.aside-top {
  margin-right: 20px;
}

.work {
  color: white;
}

.profilepic {
  margin: 0px 0px 0px 20px;
}

.about {
  font-size: 20px;
  padding: 0px 0px 0px 20px;
  color: black;
}

/*Temporary CSS for styling*/

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 250px;
  width: 250px;
}





